{
  "log": {
    "_recordingName": "index.ts/getEventByYear()/should return history event from century page",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "22c23fa51971ba04882ab607f72f773c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbsearchentities"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "pl"
            },
            {
              "name": "search",
              "value": "X_wiek"
            }
          ],
          "url": "https://www.wikidata.org/w/api.php?action=wbsearchentities&format=json&language=pl&search=X_wiek"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 647,
            "text": "{\"searchinfo\":{\"search\":\"X_wiek\"},\"search\":[{\"id\":\"Q8052\",\"title\":\"Q8052\",\"pageid\":9329,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q8052\",\"concepturi\":\"http://www.wikidata.org/entity/Q8052\",\"label\":\"10th century\",\"description\":\"century\",\"match\":{\"type\":\"label\",\"language\":\"pl\",\"text\":\"X wiek\"},\"aliases\":[\"X wiek\"]},{\"id\":\"Q25425\",\"title\":\"Q25425\",\"pageid\":28834,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q25425\",\"concepturi\":\"http://www.wikidata.org/entity/Q25425\",\"label\":\"10th century BC\",\"description\":\"century\",\"match\":{\"type\":\"label\",\"language\":\"pl\",\"text\":\"X wiek p.n.e.\"},\"aliases\":[\"X wiek p.n.e.\"]}],\"success\":1}"
          },
            {
              "domain": ".wikidata.org",
              "expires": "2021-11-29T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "28-Oct-2021"
            },
            {
              "domain": ".wikidata.org",
              "name": "GeoIP",
              "path": "/",
              "secure": true,
              "value": "PL:30:Poznan:52.41:16.94:v4"
            }
          ],
          "headers": [
            {
              "name": "x-search-id",
              "value": "ez2ibxujrdxp3icffk3om61qd"
            },
            {
              "name": "content-disposition",
              "value": "inline; filename=api-result.json"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-client-ip",
              "value": "77.65.94.123"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1300,
      },
      {
        "_id": "c487bd04ebeec7d474ee916d498b61dd",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbsearchentities"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "pl"
            },
            {
              "[...]
