{
  "log": {
    "_recordingName": "wikidataApiService/getWikipediaTitlesForCenturyAndYear()/should return century and year: case for lang pl and year 1908",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "fcdcef3a13317534ec8a7213269787d5",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbsearchentities"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "pl"
            },
            {
              "name": "search",
              "value": "1908"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://www.wikidata.org/w/api.php?action=wbsearchentities&format=json&language=pl&search=1908&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2137,
            "text": "{\"searchinfo\":{\"search\":\"1908\"},\"search\":[{\"id\":\"Q2056\",\"title\":\"Q2056\",\"pageid\":2964,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q2056\",\"concepturi\":\"http://www.wikidata.org/entity/Q2056\",\"label\":\"1908\",\"description\":\"leap year starting on Wednesday\",\"match\":{\"type\":\"label\",\"language\":\"pl\",\"text\":\"1908\"}},{\"id\":\"Q19241541\",\"title\":\"Q19241541\",\"pageid\":20808510,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q19241541\",\"concepturi\":\"http://www.wikidata.org/entity/Q19241541\",\"label\":\"1908\",\"description\":\"natural number\",\"match\":{\"type\":\"label\",\"language\":\"en\",\"text\":\"1908\"}},{\"id\":\"Q4029445\",\"title\":\"Q4029445\",\"pageid\":3840423,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q4029445\",\"concepturi\[...]
