{
  "log": {
    "_recordingName": "wikidataApiService/getWikipediaTitlesForCenturyAndYear()/should return century and year: case for lang pl and year 222",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "459124ebcf4b2b359ef0b154ef16b5c3",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbsearchentities"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "pl"
            },
            {
              "name": "search",
              "value": "III_wiek"
            }
          ],
          "url": "https://www.wikidata.org/w/api.php?action=wbsearchentities&format=json&language=pl&search=III_wiek"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 655,
            "text": "{\"searchinfo\":{\"search\":\"III_wiek\"},\"search\":[{\"id\":\"Q8101\",\"title\":\"Q8101\",\"pageid\":9381,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q8101\",\"concepturi\":\"http://www.wikidata.org/entity/Q8101\",\"label\":\"3rd century\",\"description\":\"century\",\"match\":{\"type\":\"label\",\"language\":\"pl\",\"text\":\"III wiek\"},\"aliases\":[\"III wiek\"]},{\"id\":\"Q25321\",\"title\":\"Q25321\",\"pageid\":28727,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q25321\",\"concepturi\":\"http://www.wikidata.org/entity/Q25321\",\"label\":\"3rd century BC\",\"description\":\"century\",\"match\":{\"type\":\"label\",\"language\":\"pl\",\"text\":\"III wiek p.n.e.\"},\"aliases\":[\"III wiek p.n.e.\"]}],\"success\":1}"
          },
            {
              "domain": ".wikidata.org",
              "expires": "2021-11-18T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "17-Oct-2021"
            },
            {
              "domain": ".wikidata.org",
              "name": "GeoIP",
              "path": "/",
              "secure": true,
              "value": "PL:30:Poznan:52.41:16.94:v4"
            }
          ],
          "headers": [
            {
              "name": "x-search-id",
              "value": "9adp6nhwpchqg2jz0w1crephh"
            },
            {
              "name": "content-disposition",
              "value": "inline; filename=api-result.json"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-client-ip",
              "value": "77.65.94.123"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 236,
      },
      {
        "_id": "71b8531c4cf82296ff5696961dabcd78",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbsearchentities"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "pl"
            },
            {
              "n[...]
