{
  "log": {
    "_recordingName": "index.ts/getEventByYear()/should return history event from year page as a fallback",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "abe9d9e9991989f371353a579cc947e8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbsearchentities"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "pl"
            },
            {
              "name": "search",
              "value": "912"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://www.wikidata.org/w/api.php?action=wbsearchentities&format=json&language=pl&search=912&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2073,
            "text": "{\"searchinfo\":{\"search\":\"912\"},\"search\":[{\"id\":\"Q23837\",\"title\":\"Q23837\",\"pageid\":27234,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q23837\",\"concepturi\":\"http://www.wikidata.org/entity/Q23837\",\"label\":\"912\",\"description\":\"year\",\"match\":{\"type\":\"label\",\"language\":\"pl\",\"text\":\"912\"}},{\"id\":\"Q1492636\",\"title\":\"Q1492636\",\"pageid\":1430300,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q1492636\",\"concepturi\":\"http://www.wikidata.org/entity/Q1492636\",\"label\":\"912\",\"description\":\"natural number\",\"match\":{\"type\":\"label\",\"language\":\"pl\",\"text\":\"912\"}},{\"id\":\"Q3600135\",\"title\":\"Q3600135\",\"pageid\":3428388,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q3600135\",\"concepturi\":\"http://www.wikidata.org/entity/Q3600135\",\"label\":\"912\",\"description\":\"Wikimedia disambiguation page\",\"match\":{\"type\":\"label\",\"language\":\"en\",\"text\":\"912\"}},{\"id\":\"Q25648878\",\"title\":\"Q25648878\",\"pageid\":27601515,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q25648878\",\"concepturi\":\"http://www.wikidata.org/entity/Q25648878\",\"label\":\"912\",\"description\":\"emergency telephone number\",\"match\":{\"type\":\"label\",\"language\":\"en\",\"text\":\"912\"}},{\"id\":\"Q98505831\",\"title\":\"Q98505831\",\"pageid\":96712939,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q98505831\",\"concepturi\":\"http://www.wikidata.org/entity/Q98505831\",\"label\":\"Diamond Ace\",\"match\":{\"type\":\"alias\",\"language\":\"en\",\"text\":\"912\"},\"aliases\":[\"912\"]},{\"id\":\"Q96627471\",\"title\":\"Q96627471\",\"pageid\":95197568,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q96627471\",\"concepturi\":\"http://www.wikidata.org/entity/Q96627471\",\"label\":\"9\\u2081\\u2082\",\"description\":\"mathematical knot with crossing number 9\",\"match\":{\"type\":\"label\",\"language\":\"en\",\"text\":\"9\\u2081\\u2082\"}},{\"id\":\"Q1133200\",\"title\":\"Q1133200\",\"pageid\":1080083,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q1133200\",\"concepturi\":\"http://www.wikidata.org/entity/Q1133200\",\"label\":\"912 BC\",\"description\":\"year\",\"match\":{\"type\":\"label\",\"language\":\"pl\",\"text\":\"912 p.n.e.\"},\"aliases\":[\"912 p.n.e.\"]}],\"search-continue\":7,\"success\":1}"
          },
            {
              "domain": ".wikidata.org",
              "expires": "2021-12-01T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "30-Oct-2021"
            },
            {
              "domain": ".wikidata.org",
              "name": "GeoIP",
              "path": "/",
              "secure": true,
              "value": "PL:30:Poznan:52.41:16.94:v4"
            }
          ],
          "headers": [
            {
              "name": "mediawiki-login-suppressed",
              "value": "true"
            },
            {
              "name": "x-search-id",
              "value": "50shzzqjat1zvtrkx3etnpzj"
            },
            {
              "name": "content-disposition",
              "value": "inline; filename=api-result.json"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-client-ip",
              "value": "77.65.94.123"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 287,
      },
      {
        "_id": "9f81fed792b1870b01323efd19216a06",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbsearchentities"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "pl"
            },
            {
              "n[...]
