{
  "log": {
    "_recordingName": "wikipediaApi/query()/should respond with 200 and have expected structure: case for en,1st century",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "aecb0d634b80a4ad0a8b211dd90366dc",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "prop",
              "value": "extracts"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "titles",
              "value": "1st century"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?action=query&prop=extracts&format=json&titles=1st%20century"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 15353,
            "text": "{\"batchcomplete\":\"\",\"warnings\":{\"extracts\":{\"*\":\"HTML may be malformed and/or unbalanced and may omit inline images. Use at your own risk. Known problems are listed at https://www.mediawiki.org/wiki/Special:MyLanguage/Extension:TextExtracts#Caveats.\"}},\"query\":{\"pages\":{\"34628\":{\"pageid\":34628,\"ns\":0,\"title\":\"1st century\",\"extract\":\"<p>The <b>1st century</b> was the century  1 CE (I) through 100 CE (C) according to the Julian calendar. It is often written as the <span><b>1st century AD</b></span> or <span><b>1st century CE</b></span> to distinguish it from the 1st century BC (or BCE) which preceded it. The 1st century is considered part of the Classical era, epoch, or historical period.\\n</p><p>During this period, Europe, North Africa and the Near East fell under increasing domination by the Roman Empire, which continued expanding, most notably conquering Britain under the emperor Claudius (AD 43). The reforms introduced by Augustus during his long reign stabilized the empire after the turmoil of the previous century's civil wars. Later in the century the Julio-Claudian dynasty, which had been founded by Augustus, came to an end with the suicide of Nero in AD 68. There followed the famous Year of Four Emperors, a brief period of civil war and instability, which was finally brought to an end by Vespasian, ninth Roman emperor, and founder of the Flavian dynasty. The Roman Empire generally experienced a period of prosperity and dominance in this period and the first century is remembered as part of the Empire's golden age.\\n</p><p>The 1st century saw the appearance of Christianity.\\n</p><p>China continued to be dominated by the Han Dynasty, despite a fourteen-year interruption by the Xin dynasty under Wang Mang. Han rule was restored in AD 23; Wang Mang's rule represents the watershed between the Western/Former Han and the Eastern/Later Han. The capital was also moved from Chang'an to Luoyang.\\n</p>\\n\\n\\n<h2><span id=\\\"Regional_events_and_politics\\\">Regional events and politics</span></h2>\\n<ul><li>Western Europe: Celtic, Germanic, Saami and Finnic tribal chiefdom and the Roman Empire</li>\\n<li>Eastern Europe: Roman Empire, Dacian, Sarmatian, Venedae and Balt tribal chiefdoms</li>\\n<li>North Africa: Roman Empire, Garamantes, Mauri, Libyan and Gaetulian tribal chiefdoms</li>\\n<li>West Africa: Gur, Kwa, Soninke and Mande tribal chiefdoms</li>\\n<li>Central Africa: Bantu tribes, collapsing Nok culture Nok civilization</li>\\n<li>East Africa: Kingdom of Kush, Kingdom of Blemmyes, Kingdom of[...]
