{
  "log": {
    "_recordingName": "wikipediaApiService/query()/should respond with 200 and have expected structure: case for en,AD 13",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "4d0ee94e5e4e9e7b2e4aceaa6973e037",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "prop",
              "value": "extracts"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "titles",
              "value": "AD 13"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://en.wikipedia.org/w/api.php?action=query&prop=extracts&format=json&titles=AD%2013&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3307,
            "text": "{\"batchcomplete\":\"\",\"warnings\":{\"extracts\":{\"*\":\"HTML may be malformed and/or unbalanced and may omit inline images. Use at your own risk. Known problems are listed at https://www.mediawiki.org/wiki/Special:MyLanguage/Extension:TextExtracts#Caveats.\"}},\"query\":{\"pages\":{\"35205\":{\"pageid\":35205,\"ns\":0,\"title\":\"AD 13\",\"extract\":\"<p class=\\\"mw-empty-elt\\\">\\n</p>\\n\\n<p><b>AD 13</b> (<b>XIII</b>) was a common year starting on Sunday (link will display the full calendar) of the Julian calendar. At the time, it was known as the <b>Year of the Consulship of Silius and Plancus</b> (or, less frequently, <b>year 766 <i>Ab urbe condita</i></b>). The denomination AD 13 for this year has been used since the early medieval period, when the Anno Domini calendar era became the prevalent method in Europe for naming years.\\n</p>\\n\\n\\n<h2><span id=\\\"Events\\\">Events</span></h2>\\n<h3><span id=\\\"By_place\\\">By place</span></h3>\\n<h4><span id=\\\"Roman_Empire\\\">Roman Empire</span></h4>\\n<ul><li>Emperor Augustus initiates his third census of the Roman Empire after 20 years.</li>\\n<li>Abgarus of Edessa is reinstalled as king of Osroene.</li>\\n<li>The Senate passes a <i>senatus consultum</i> restricting the reduced Vigintisexviri to the Ordo Equester.</li></ul><h4><span id=\\\"China\\\">China</span></h4>\\n<ul><li>Last year (3rd) of <i>Shijianguo</i> era of the Chinese Xin Dynasty.</li>\\n<li>Considered the lucky number of those from the Chinese Xin Dynasty.</li></ul><h3><span id=\\\"By_topic\\\">By topic</span></h3>\\n<h4><span id=\\\"Arts_and_sciences\\\">Arts and sciences</span></h4>\\n<ul><li>Strabo publishes his book on the shape of the Earth.</li>\\n<li>Ovid publishes books 1-3 of his <i>Epistulae ex Ponto</i>.</li></ul><p><br></p>\\n<h2><span id=\\\"Births\\\">Births</span></h2>\\n<ul><li>Casperius Aelianus, Roman praetorian prefect (d. AD 98)</li>\\n<li>Gaius Silius, Roman politician (d. AD 48)</li></ul><h2><span id=\\\"Deaths\\\">Deaths</span></h2>\\n<ul><li>Quintus Pedius, Roman (deaf) painter (approximate date)</li>\\n<li>Wang Zhengjun, Chinese empress (b. 71 BC)</li></ul><h2><span id=\\\"References\\\">References</span></h2>\\n\\n\\n<!-- \\nNewPP limit report\\nParsed by mw1317\\nCached time: 20211030150603\\nCa[...]
