{
  "log": {
    "_recordingName": "index.ts/getEventByYear()/should return not found object with proper code: case for year 57",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "826693c0f8c0fb31cb9f9d6d43cc1887",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbsearchentities"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "pl"
            },
            {
              "name": "search",
              "value": "I_wiek"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://www.wikidata.org/w/api.php?action=wbsearchentities&format=json&language=pl&search=I_wiek&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 645,
            "text": "{\"searchinfo\":{\"search\":\"I_wiek\"},\"search\":[{\"id\":\"Q8106\",\"title\":\"Q8106\",\"pageid\":9386,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q8106\",\"concepturi\":\"http://www.wikidata.org/entity/Q8106\",\"label\":\"1st century\",\"description\":\"century\",\"match\":{\"type\":\"label\",\"language\":\"pl\",\"text\":\"I wiek\"},\"aliases\":[\"I wiek\"]},{\"id\":\"Q25297\",\"title\":\"Q25297\",\"pageid\":28701,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q25297\",\"concepturi\":\"http://www.wikidata.org/entity/Q25297\",\"label\":\"1st century BC\",\"description\":\"century\",\"match\":{\"type\":\"label\",\"language\":\"pl\",\"text\":\"I wiek p.n.e.\"},\"aliases\":[\"I wiek p.n.e.\"]}],\"success\":1}"
          },
            {
              "domain": ".wikidata.org",
              "expires": "2021-12-05T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "03-Nov-2021"
            },
            {
              "domain": ".wikidata.org",
              "name": "GeoIP",
              "path": "/",
              "secure": true,
              "value": "PL:30:Poznan:52.41:16.94:v4"
            }
          ],
          "headers": [
            {
              "name": "mediawiki-login-suppressed",
              "value": "true"
            },
            {
              "name": "x-search-id",
              "value": "br88xzc4vwrhfo7d22afpu113"
            },
            {
              "name": "content-disposition",
              "value": "inline; filename=api-result.json"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-client-ip",
              "value": "77.65.94.123"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 272,
      },
      {
        "_id": "66903ae3b087e08bbc93f6f3689adc2e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbsearchentities"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "pl"
            },
            {
              "n[...]
