{
  "log": {
    "_recordingName": "wikidataApiService/getWikipediaTitlesForCenturyAndYear()/should return century and year: case for lang pl and year 2021",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "c56279e6a06e3e7d2d36e09263da76b6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbsearchentities"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "pl"
            },
            {
              "name": "search",
              "value": "XXI_wiek"
            }
          ],
          "url": "https://www.wikidata.org/w/api.php?action=wbsearchentities&format=json&language=pl&search=XXI_wiek"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 977,
            "text": "{\"searchinfo\":{\"search\":\"XXI_wiek\"},\"search\":[{\"id\":\"Q6939\",\"title\":\"Q6939\",\"pageid\":8072,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q6939\",\"concepturi\":\"http://www.wikidata.org/entity/Q6939\",\"label\":\"21st century\",\"description\":\"century\",\"match\":{\"type\":\"label\",\"language\":\"pl\",\"text\":\"XXI wiek\"},\"aliases\":[\"XXI wiek\"]},{\"id\":\"Q205487\",\"title\":\"Q205487\",\"pageid\":201819,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q205487\",\"concepturi\":\"http://www.wikidata.org/entity/Q205487\",\"label\":\"21st century BC\",\"description\":\"century\",\"match\":{\"type\":\"label\",\"language\":\"pl\",\"text\":\"XXI wiek p.n.e.\"},\"aliases\":[\"XXI wiek p.n.e.\"]},{\"id\":\"Q9383145\",\"title\":\"Q9383145\",\"pageid\":9489195,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q9383145\",\"concepturi\":\"http://www.wikidata.org/entity/Q9383145\",\"label\":\"XXI wiek (Dla wszystkich nas)\",\"description\":\"song\",\"match\":{\"type\":\"label\",\"language\":\"pl\",\"text\":\"XXI wiek (Dla wszystkich nas)\"}}],\"success\":1}"
          },
            {
              "domain": ".wikidata.org",
              "expires": "2021-11-18T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "17-Oct-2021"
            },
            {
              "domain": ".wikidata.org",
              "name": "GeoIP",
              "path": "/",
              "secure": true,
              "value": "PL:30:Poznan:52.41:16.94:v4"
            }
          ],
          "headers": [
            {
              "name": "x-search-id",
              "value": "2prtn6ojoglda96vpv3nesi94"
            },
            {
              "name": "content-disposition",
              "value": "inline; filename=api-result.json"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-client-ip",
              "value": "77.65.94.123"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 252,
      },
      {
        "_id": "9637418d37daab99b1a69cfa6d1ac1fc",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbsearchentities"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "pl"
            },
            {
              "n[...]
