{
  "log": {
    "_recordingName": "wikidataApiService/getWikipediaTitlesForCenturyAndYear()/should return century and year: case for lang pl and year 1901",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "a162de8203e4aa85e7ce027074aa515b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbsearchentities"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "pl"
            },
            {
              "name": "search",
              "value": "XX_wiek"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://www.wikidata.org/w/api.php?action=wbsearchentities&format=json&language=pl&search=XX_wiek&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 703,
            "text": "{\"searchinfo\":{\"search\":\"XX_wiek\"},\"search\":[{\"id\":\"Q6927\",\"title\":\"Q6927\",\"pageid\":8060,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q6927\",\"concepturi\":\"http://www.wikidata.org/entity/Q6927\",\"label\":\"20th century\",\"description\":\"century\",\"match\":{\"type\":\"label\",\"language\":\"pl\",\"text\":\"XX wiek\"},\"aliases\":[\"XX wiek\"]},{\"id\":\"Q183376\",\"title\":\"Q183376\",\"pageid\":182415,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q183376\",\"concepturi\":\"http://www.wikidata.org/entity/Q183376\",\"label\":\"20th century BC\",\"description\":\"century which lasted from the year 2000 BC to 1901 BC\",\"match\":{\"type\":\"label\",\"language\":\"pl\",\"text\":\"XX wiek p.n.e.\"},\"aliases\":[\"XX wiek p.n.e.\"]}],\"success\":1}"
          },
            {
              "domain": ".wikidata.org",
              "expires": "2021-12-01T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "30-Oct-2021"
            },
            {
              "domain": ".wikidata.org",
              "name": "GeoIP",
              "path": "/",
              "secure": true,
              "value": "PL:30:Poznan:52.41:16.94:v4"
            }
          ],
          "headers": [
            {
              "name": "mediawiki-login-suppressed",
              "value": "true"
            },
            {
              "name": "x-search-id",
              "value": "4cdw1neeh3q1npok5o9vvzhpy"
            },
            {
              "name": "content-disposition",
              "value": "inline; filename=api-result.json"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-client-ip",
              "value": "77.65.94.123"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 252,
      },
      {
        "_id": "f3b2519edb0f2b92330cd34188fcbe7c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbsearchentities"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "pl"
            },
            {
              "n[...]
