{
  "log": {
    "_recordingName": "wikipediaApiService/query()/should respond with 200 and have expected structure: case for pl,I wiek",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "573bad9d7e045a795f5d89f705cea03e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "prop",
              "value": "extracts"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "titles",
              "value": "I wiek"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://pl.wikipedia.org/w/api.php?action=query&prop=extracts&format=json&titles=I%20wiek&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 10414,
            "text": "{\"batchcomplete\":\"\",\"warnings\":{\"extracts\":{\"*\":\"HTML may be malformed and/or unbalanced and may omit inline images. Use at your own risk. Known problems are listed at https://www.mediawiki.org/wiki/Special:MyLanguage/Extension:TextExtracts#Caveats.\"}},\"query\":{\"pages\":{\"2355\":{\"pageid\":2355,\"ns\":0,\"title\":\"I wiek\",\"extract\":\"<p>I wiek p.n.e.&lt;&gt;II wiek\\n</p><p>1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100\\n</p>\\n\\n\\n\\n\\n<h2><span id=\\\"Urodzili_si.C4.99\\\"></span><span id=\\\"Urodzili_si\\u0119\\\">Urodzili si\\u0119</span></h2>\\n<ul><li>oko\\u0142o 5\\u201310 \\u2013 \\u015bw. Pawe\\u0142 z Tarsu</li>\\n<li>oko\\u0142o 50 \\u2013 Plutarch, grecki pisarz i filozof</li>\\n<li>oko\\u0142o 55 \\u2013 Tacyt, rzymski historyk</li>\\n<li>oko\\u0142o 69 \\u2013 Swetoniusz, rzymski historyk</li>\\n<li>oko\\u0142o 100 \\u2013 Klaudiusz Ptolemeusz, grecki uczony</li></ul><h2><span id=\\\"Zmarli\\\">Zmarli</span></h2>\\n<ul><li>14 \\u2013 Oktawian August, pierwszy cesarz rzymski</li>\\n<li>17 \\u2013 Liwiusz, rzymski historyk</li>\\n<li>17[...]
