{
  "log": {
    "_recordingName": "wikipediaApiService/query()/should respond with 200 and have expected structure: case for pl,13",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "0aa01ef735d4b5e67ff9b928f1da870e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "query"
            },
            {
              "name": "prop",
              "value": "extracts"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "titles",
              "value": "13"
            }
          ],
          "url": "https://pl.wikipedia.org/w/api.php?action=query&prop=extracts&format=json&titles=13"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2140,
            "text": "{\"batchcomplete\":\"\",\"warnings\":{\"extracts\":{\"*\":\"HTML may be malformed and/or unbalanced and may omit inline images. Use at your own risk. Known problems are listed at https://www.mediawiki.org/wiki/Special:MyLanguage/Extension:TextExtracts#Caveats.\"}},\"query\":{\"pages\":{\"18576\":{\"pageid\":18576,\"ns\":0,\"title\":\"13\",\"extract\":\"<h2><span id=\\\"Wydarzenia\\\">Wydarzenia</span></h2>\\n<dl><dt>Cesarstwo Rzymskie</dt></dl><ul><li>Germanicus obj\\u0105\\u0142 dow\\u00f3dztwo nad armiami Renu i trzema prowincjami galijskimi.</li>\\n<li>Utworzono urz\\u0105d prefekta miejskiego.</li></ul><h2><span id=\\\"Urodzili_si.C4.99\\\"></span><span id=\\\"Urodzili_si\\u0119\\\">Urodzili si\\u0119</span></h2>\\n<ul><li><span><i>Na razie brak wpis\\u00f3w.</i></span></li></ul><h2><span id=\\\"Zmarli\\\">Zmarli</span></h2>\\n<ul><li>3 lutego \\u2013 Wang Zhengjun, chi\\u0144ska cesarzowa wdowa</li></ul><p><br></p>\\n<!-- \\nNewPP limit report\\nParsed by mw1422\\nCached time: 20211017165232\\nCache expiry: 1814400\\nReduced expiry: false\\nComplications: []\\nCPU time usage: 0.161 seconds\\nReal time usage: 0.189 seconds\\nPreprocessor visited node count: 371/1000000\\nPost\\u2010expand include size: 9287/2097152 bytes\\nTemplate argument size: 351/2097152 bytes\\nHighest expansion depth: 10/40\\nExpensive parser function count: 6/500\\nUnstrip recursion depth: 0/20\\nUnstrip post\\u2010expand size: 0/5000000 bytes\\nLua time usage: 0.087/10.000 seconds\\nLua memory usage: 1485061/52428800 bytes\\nNumber of Wikibase entities loaded: 0/400\\n--><!--\\nTransclusion expansion time report (%,ms,calls,template)\\n100.00%  151.792      1 -total\\n 67.86%  103.011      1 Szablon:Nag\\u0142\\u00f3wek_has\\u0142a_roku\\n 26.08%   39.594      1 Szablon:Inne_znaczenia\\n 14.63%   22.208      1 Szablon:Dmbox\\n 11.47%   17.405      2 Szablon:Ikona\\n  8.01%   12.166      1 Szablon:Nag\\u0142\\u00f3wek_has\\u0142a_roku/uog\\u00f3lnienie\\n  4.34%    6.590      1 Szablon:Commonscat\\n  3.07%    4.664      1 Szablon:Projekt_siostrzany\\n  2.34%    3.555      3 Szablon:Arabska_na_rzymsk\\u0105\\n  1.43%    2.164      1 Szablon:NOWY_WPIS_W_SEKCJI_NARODZIN_DODAJ_PO_GWIAZDCE_ZAMIAST_CA\\u0141EJ_TEJ_LINII\\n-->\"}}}}"
          },
            {
              "domain": ".wikipedia.org",
              "expires": "2021-11-18T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "17-Oct-2021"
            },
            {
              "domain": ".wikipedia.org",
              "name": "GeoIP",
              "path": "/",
              "secure": true,
              "value": "PL:30:Poznan:52.41:16.94:v4"
            }
          ],
          "headers": [
            {
              "name": "content-disposition",
              "value": "inline; filename=api-result.json"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-client-ip",
              "value": "77.65.94.123"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 456,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
