{
  "log": {
    "_recordingName": "wikidataApiService/getWikipediaTitlesForCenturyAndYear()/should return century and year: case for lang pl and year 13",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "f6188b287b05b07d23e91cbeb370660f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbsearchentities"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "pl"
            },
            {
              "name": "search",
              "value": "13"
            },
            {
              "name": "origin",
              "value": "*"
            }
          ],
          "url": "https://www.wikidata.org/w/api.php?action=wbsearchentities&format=json&language=pl&search=13&origin=%2A"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2031,
            "text": "{\"searchinfo\":{\"search\":\"13\"},\"search\":[{\"id\":\"Q37141\",\"title\":\"Q37141\",\"pageid\":39694,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q37141\",\"concepturi\":\"http://www.wikidata.org/entity/Q37141\",\"label\":\"13\",\"description\":\"natural number\",\"match\":{\"type\":\"label\",\"language\":\"pl\",\"text\":\"13\"}},{\"id\":\"Q23411\",\"title\":\"Q23411\",\"pageid\":26806,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q23411\",\"concepturi\":\"http://www.wikidata.org/entity/Q23411\",\"label\":\"13\",\"description\":\"year\",\"match\":{\"type\":\"label\",\"language\":\"pl\",\"text\":\"13\"}},{\"id\":\"Q186642\",\"title\":\"Q186642\",\"pageid\":185410,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q186642\",\"concepturi\":\"http://www.wikidata.org/entity/[...]
