{
  "log": {
    "_recordingName": "wikidataApiService/getWikipediaTitlesForCenturyAndYear()/should return century and year: case for lang pl and year 13",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "3bff3ba36aa95a8a81300f9f7b217a9e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbsearchentities"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "pl"
            },
            {
              "name": "search",
              "value": "I_wiek"
            }
          ],
          "url": "https://www.wikidata.org/w/api.php?action=wbsearchentities&format=json&language=pl&search=I_wiek"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 645,
            "text": "{\"searchinfo\":{\"search\":\"I_wiek\"},\"search\":[{\"id\":\"Q8106\",\"title\":\"Q8106\",\"pageid\":9386,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q8106\",\"concepturi\":\"http://www.wikidata.org/entity/Q8106\",\"label\":\"1st century\",\"description\":\"century\",\"match\":{\"type\":\"label\",\"language\":\"pl\",\"text\":\"I wiek\"},\"aliases\":[\"I wiek\"]},{\"id\":\"Q25297\",\"title\":\"Q25297\",\"pageid\":28701,\"repository\":\"wikidata\",\"url\":\"//www.wikidata.org/wiki/Q25297\",\"concepturi\":\"http://www.wikidata.org/entity/Q25297\",\"label\":\"1st century BC\",\"description\":\"century\",\"match\":{\"type\":\"label\",\"language\":\"pl\",\"text\":\"I wiek p.n.e.\"},\"aliases\":[\"I wiek p.n.e.\"]}],\"success\":1}"
          },
            {
              "domain": ".wikidata.org",
              "expires": "2021-11-18T12:00:00.000Z",
              "httpOnly": true,
              "name": "WMF-Last-Access-Global",
              "path": "/",
              "secure": true,
              "value": "17-Oct-2021"
            },
            {
              "domain": ".wikidata.org",
              "name": "GeoIP",
              "path": "/",
              "secure": true,
              "value": "PL:30:Poznan:52.41:16.94:v4"
            }
          ],
          "headers": [
            {
              "name": "x-search-id",
              "value": "23gybf94kblyq5ka4j4et7v75"
            },
            {
              "name": "content-disposition",
              "value": "inline; filename=api-result.json"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-client-ip",
              "value": "77.65.94.123"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 261,
      },
      {
        "_id": "9fe3555dd32448f300128bd40fcac32f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "action",
              "value": "wbsearchentities"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "language",
              "value": "pl"
            },
            {
              "n[...]
